<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/bikestyle.css">
        <link rel="stylesheet"  href="/static/css/screen.css">
      <title> Welcome Hero Motors </title>
    </head>

    <body id="Home">
      <!-- Navbar -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary"><i class=" hz "></i> Hero</span>Motors
        </h1>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#Brand">Brand</a></li>
            <li><a href="#Team">Team</a></li>
            <li><a href="#Collections">Collections</a></li>
            <li><a href="#Review">Review</a></li>
        </ul>
      </nav>


      <!-- Header: home -->
      <header id="home">
        <div class="home-content">
            <h1 class="l-heading">
            Hero Zero Motorcycles
            </h1>
          <p class="lead">
            The board of Hero MotoCorp approved an equity investment in Zero Motorcycles of up to US$ 60 million (Rs 4.92 crore) in September 2022. The alliance combines Hero MotoCorp’s large production, sourcing, and marketing capabilities with Zero’s expertise in creating powertrains and electric motorcycles.
          </p>
          <div><img src="/static/img/home.jpg" alt="home"></div>
          <a href="#Collections" class="btn">Show More</a>
        </div>
      </header>

        <!-- Section: Who We Are -->
      <section id="Brand">
        <div class="Brand-img"></div>
        <div class="Brand-text bg-dark p-1">
          <h2 class="m-heading"><span class="text-primary">New</span> Collection</h2>
            <div><img src="/static/img/0.jpg" alt="0"></div>
            <p>From the cutesie Honda NAVI to the mighty Africa Twin, from the classically modern Triumph Street Twin to the hot and edgy Yamaha MT-09, the Auto Expo 2016 should have been a treat for motorcycle lovers. And it was. Yet, at the same time, as a self-confessed motorcycle enthusiast, I would have liked to see a few more launches than I did. Of course, manufacturers have said that they are going to get all these new and fancy steeds to Indian shores before the year is over but as far as I am concerned this is more of a teaser than a trailer. When? At what price? These are questions that will taunt us months after the Expo hangover has died down. Nonetheless, I’ll reserve my rant for another day and bring to you my list of hot favourites from the Auto Expo 2016.</p>
         </div>
      </section>


        <!-- Section: Team -->
      <section id="Team">
        <div class="Team-img"></div>
            <div class="Team-text bg-dark p-2">
              <h2 class="m-heading"><span class="text-primary">Team</span>Up Folks!</h2>
                <h1 class="entry-title" itemprop="headline">Idle Chatter: Team Up Folks!</h1>
                 <div><img src="/static/img/Team.jpg" alt="Team"></div>
                <span>Just the other day I decided to indulge in some nostalgia and ended up watching Lone Wolf McQuade where Chuck Norris tears down an entire drug cartel almost singlehanded. Unfortunately in the real world however much we may want to be like Texas Ranger J J McQuade, truth is it is the team that matters as much as the leadership</span>
               <h3>Our Team</h3>
                  <strong> Idle Chatter: The Logistics of Motorcycle Racing </strong>
                <div><img src="/static/img/Racing.jpg" alt="Racing"></div>
                <p>We buy tickets or switch on our telly over a weekend afternoon, chew our nails and pray for our favourite rider to finish ahead of all the others. Once the chequered flag has come down and the podium ceremonies are done with, it’s a wrap for us. Few of us can imagine the kind of logistics involved in the world of MotoGP </p>
                <strong>Lady Rider</strong>
                <div><img src="/static/img/Lady.jpg" alt="Lady"></div>
                <p>Women? Motorcycle racing? Never heard of such a thing? Time to wake up, it’s happening here in India too…</p>
            </div>
      </section>

      <!-- Section: OurBrands -->
      <section id="Collections" class="py-1">
        <div class="container">
          <h2 class="m-heading text-center">
            <span class="text-primary">Top10</span> Bikes
          </h2>
          <div class="items py-1">
            <div><img src="/static/img/0.jpg" alt="Bikes"></div>
              <p><strong>1. TVS Akula 310 Racespec</strong> – Carbonfibre. Carbonfibre. Carbonfibre. That is what the drop dead gorgeous Akula was about. The concept’s edgy and aero efficient design mimics the ‘Akula’ (Japanese for shark). It houses a 310 cc single cylinder engine and although TVS Motors (or BMW Motorrad for that matter) refuse to confirm it, we strongly suspect that the Akula shares its heart with the G 310 R. Wish it was more than a concept though.</p>
            <div><img src="/static/img/1.jpg" alt="Bikes"></div>
              <p><strong>2. BMW G 310 R</strong> – It’s BMW Motorrad’s first sub-500 cc motorcycle in the near past and it has some super revolutionary thinking going into it (the engine being placed backwards for starters). Being made at the TVS plant in Hosur, a result of the collaboration between BMW Motorrad and TVS Motors, the bike shouldn’t be hyper-expensive but should have all the pros of a BMW machine.</p>
              <div><img src="/static/img/2.jpg" alt="Bikes"></div>
              <p><strong>3. Honda Africa Twin</strong> – Taking the fight straight to the likes of the Triumph Tiger, Kawasaki Versys, Suzuki V-Strom and the Ducati Multistrada, the Africa Twin is a gorgeous machine and should set hearts afire with its promise of adventure. Hopefully, HMSI won’t use the same pricing strategy for the Africa Twin that they did for the CBR 650 F.</p>
              <div><img src="/static/img/3.jpg" alt="Bikes"></div>
              <p><strong>4. Honda NAVI</strong> – A cross between a scooter and a monkey bike, I just loved the NAVI. The convenience of a scooter and the attention grabbing abilities of a motorcycle, all rolled into one cool package that costs less than Rs 40,000. Hell! Why didn’t someone think of this before?</p>
              <div><img src="/static/img/4.jpg" alt="Bikes"></div>
               <p><strong>5. Honda RC 213 V</strong> – How could this not be a hot favourite? After all, I’ve chased this bike around the world over several weekends last year. I even got to plant my bum on it and the folks at Honda had put a cool 360-degree cam to capture the moment.</p>
             <div><img src="/static/img/5.jpg" alt="Bikes"></div>
              <p><strong>6. Triumph Street Twin</strong> – Gobsmackingly gorgeous! That’s what the Street Twin is, especially in that shade of crimson. It’s the British motorcycle marque’s take on what a scrambler should be and they’ll be happy to note that most Indians (yours truly included) who visited the Triumph pavilion absolutely loved it.</p>
              <div><img src="/static/img/7.jpg" alt="Bikes"></div>
              <p><strong>7. Triumph Bonneville and T120</strong> – The old Bonny was good, but this set is even better. With their brand new chassis and brand new engines, the new generation Bonneville and T120 should do very well. The fact that Triumph Motorcycles were one of the few to actually <b>launch</b> all their bikes and not <b>unveil</b> them, earns them extra points in my books.</p>
              <div><img src="/static/img/8.jpg" alt="Bikes"></div>
              <p><strong>8. Yamaha MT-09</strong> – I saw this at EICMA and remember thinking… “Aah, Yamaha won’t get this one to India”. Then when Yamaha launched the Ray ZR on the first day of the media preview, I was almost convinced this wouldn’t come to India. And then the Japanese bike maker threw a curve ball and launched this at Rs 10.21 lakh. Superb move by Yamaha.</p>
              <div><img src="/static/img/9.jpg" alt="Bikes"></div>
              <p><strong>9. Yamaha YZR-M1</strong> – A litre-class Yamaha with a crossplane crankshaft and a racebred chassis. Add to that, that it’s the 2016 MotoGP Championship winning motorcycle and you realise that there’s nothing not to like about this bike. That the bike sported the much loved ’46’ of one Valentino Rossi and not the 99 of Jorge Lorenzo only added to the appeal of the Yamaha pavilion.</p>
              <div><img src="/static/img/10.jpg" alt="Bikes"></div>
              <p><strong>10. Aprilia SR 150</strong> – Piaggio have taken the 150 cc engine of the Vespa VX and turned it over to Aprilia to work their charm and come out with a fancy scooter. And boy! Have they delivered on that brief or what.</p>
          </div>
        </div>
      </section>



      <!-- Section: Contact -->
      <section id="Review">
        <div class="Review-form bg-primary p-2">
          <h2 class="m-heading">Review Us</h2>
          <p>Please use the form below to review us</p>
          <form method="post">
             {% csrf_token %}
                 {{ form.as_p }}
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" placeholder="Enter Name">
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea name="message" id="message" placeholder="Enter Message"></textarea>
            </div>
            <input type="submit" value="Send" class="btn btn-dark">
          </form>
        </div>
      </section>

          <!-- Footer -->
       <section>
           <footer id="main-footer" class="bg-dark text-center py-1">
                <div class="container">
                    <p>Copyright ©&nbsp;2023 Motor Bikes,All Rights Reserved</p>
                    <p>BIKE INDIA’S NO. 1 TWO WHEELER MAGAZINE, BY FAR!</p>
                </div>
           </footer>
      </section>
    </body>

</html>